<div class="navbar-wrapper">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">SENTiment</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">About</a></li>
        <% if (user) { %>
          <li><a href="/watson/setup">Analyze/View</a></li>
        <% } %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <% if (!user) { %>
          <li><a id='twitter-login' href="/login"></a></li>
        <% } else { %>
          <li><a href="/logout">Log out </a></li>
        <% } %>
        </ul>
      </div>
    </div>
  </nav>
</div>
